.root {}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

.label:not(.selected):hover {
    background-color: lightgray;
}

.label:not(.selected):hover:active {
    background-color: darkgray;
}

.label.selected {
    background-color: var(--accent-background);
    color: var(--accent-color);
}

.label.selected:hover {
    opacity: 0.8;
}

.label.selected:hover:active {
    opacity: 0.6;
}