.root {
    display: flex;
}

.root.vertical {
    padding-top: 3px;
    padding-bottom: 3px;
}

.root:not(.vertical) {
    padding-left: 3px;
    padding-right: 3px;
}

.item {
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding-left: 6px;
    padding-right: 6px;
    outline: 1px solid var(--accent-color);
    background-color: lightgray;
    border: 2px inset #fff;
    border-right-color: black;
    border-bottom-color: black;
    background: lightgray;
    color: black;
    user-select: none;
    border-radius: 6px;
    height: 38px;
}

.root:not(.vertical) .item {
    min-width: 100px;
    max-width: 200px;
}

.root.vertical .item {
    width: 100%;
}

.item.static {
    position: relative;
    opacity: 0;
    pointer-events: none;
}

.item.draggable {
    position: absolute;
}

.item.minimize {
    outline: 1px solid transparent;
    border: 2px inset lightgray;
    border: 2px solid lightgray;
    color: black;
}

.item.focus {
    outline: 2px solid var(--accent-color);
    background-color: white;
}

.item.focus:active {
    border: 2px inset #fff;
    background: lightgray;
}

.item:not(.focus):active {
    border: 2px inset white;
    background: lightgray;
}

.item.static.moving.range {
    opacity: 0.4;
}

.item.draggable.moving.range {
    left: var(--left);
    top: var(--top);
    z-index: 1000;
    filter: invert(100%);
    opacity: 0.8;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}