.root {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 3px;
    margin-right: 3px;
    height: 24px;
    outline: 1px solid var(--accent-color);
    background-color: lightgray;
    min-width: 100px;
    max-width: 200px;
    border: 2px inset #fff;
    border-right-color: black;
    border-bottom-color: black;
    background: lightgray;
    color: black;
    user-select: none;
    border-radius: 3px;
}

.root.focus {
    outline: 2px solid var(--accent-color);
    background-color: white;
}

.root.focus:active {
    border: 2px inset #fff;
    background: lightgray;
}

.root:not(.focus):active {
    border: 2px inset white;
    background: lightgray;
}

.label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}