.root {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid light-dark(lightgray, lightgray);
    overflow: hidden;
    background-color: white;
    transition: opacity 0.2s, background-color 0.2s;
    border-radius: 6px;
    opacity: 1;
    color: light-dark(black, white);
    background-color: light-dark(white, #333333);
}

.root.animate {
    transition: all 0.2s ease-in-out;
}

.root.focus {
    border: 1px solid var(--accent-color);
}

.root.maximize,
.root.dock {
    border-radius: 0px;
}

.root.maximize {
    border: none;
}

.root.dock.left {
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.root.dock.right {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.root.minimize {
    opacity: 0;
    pointer-events: none;
}

.root.fullscreen {
    border: none;
    border-radius: 0px;
}

.root.close {
    display: none;
}