.root {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid lightgray;
    overflow: hidden;
    background-color: white;
    transition: left 0.05s, top 0.05s, width 0.05s, height 0.05s;
    border-radius: 3px;
}

.root.focus {
    border: 1px solid black;
}

.root.minimize {
    display: none;
}

.root.fullscreen {
    border: none;
    border-radius: 0px;
}