.root {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid lightgray;
    overflow: hidden;
    background-color: white;
    transition: left 0.02s, top 0.02s, width 0.02s, height 0.02s, opacity 0.2s;
    border-radius: 6px;
    opacity: 1;
}

.root.focus {
    border: 1px solid black;
}

.root.collapse {
    max-height: 32px;
}

.root.maximize,
.root.dock {
    border-radius: 0px;
}

.root.maximize {
    border: none;
}

.root.dock.left {
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.root.dock.right {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.root.minimize {
    opacity: 0;
    pointer-events: none;
}

.root.fullscreen {
    border: none;
    border-radius: 0px;
}

.root.close {
    display: none;
}