.root {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid lightgray;
    overflow: hidden;
    background-color: white;
    transition: left 0.02s, top 0.02s, width 0.02s, height 0.02s, opacity 0.2s;
    border-radius: 3px;
    opacity: 1;
}

.root.focus {
    border: 1px solid black;
}

.root.minimize {
    opacity: 0;
    pointer-events: none;
}

.root.fullscreen {
    border: none;
    border-radius: 0px;
}