.root {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    user-select: none;
    padding: 6px;
    background-color: transparent;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
    box-shadow: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    color: black;
    transition: color 0.5s, background-color 0.5s;
    flex: 1;
}

.button:hover:active {
    background-color: darkgray;
}

.button.clear,
.button.plusminus,
.button.percent {
    background-color: darkgray;
}

.button.divide,
.button.multiply,
.button.subtract,
.button.add,
.button.equals {
    background-color: slategray;
    color: white;
}

.button.divide:hover:active,
.button.multiply:hover:active,
.button.subtract:hover:active,
.button.add:hover:active,
.button.equals:hover:active {
    background-color: lightgray;
    color: black;
}

.button.clear:hover:active,
.button.plusminus:hover:active,
.button.percent:hover:active {
    background-color: lightgray;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}