.root {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    user-select: none;
    padding: 6px;
    background-color: transparent;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
    box-shadow: none;
    width: var(--width);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 50px;
    background-color: lightgray;
    color: black;
    transition: color 0.5s, background-color 0.5s;
}

.root:hover:active {
    background-color: darkgray;
}

.root.clear,
.root.plusminus,
.root.percent {
    background-color: darkgray;
}

.root.divide,
.root.multiply,
.root.subtract,
.root.add,
.root.equals {
    background-color: lightblue;
}

.root.divide:hover:active,
.root.multiply:hover:active,
.root.subtract:hover:active,
.root.add:hover:active,
.root.equals:hover:active {
    background-color: darkblue;
    color: white;
}

.root.clear:hover:active,
.root.plusminus:hover:active,
.root.percent:hover:active {
    background-color: lightgray;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}