.root {
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0px 0px 3px 3px;
    transition: background-color 0.2s;
    height: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: darkgray;
}

.root:hover {
    background-color: lightgray;
}

.root.focus {
    background-color: var(--accent-background);
    color: var(--accent-color);
}

.root:not(.disabled) {
    cursor: move;
}