.root {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.root:hover {
    background-color: lightgray;
}

.root.drag {
    cursor: move;
}