.item {
    user-select: text;
    flex: 1;
    display:flex;
}

.type {
    font-weight: bold;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #e0e0e0;
    padding: 2px 6px;
    margin-left: 8px;
    font-size: 0.8em;
    color: #333;
    height: 20px;
}
