.root {
    align-items: stretch;
    border-top: 1px solid light-dark(black, white);
    background-color: light-dark(lightgray, darkgray);
    height: 48px;
    display: none;
}

.root.visible {
    display: flex;
}