.root {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 10px;
    transition: border 0.5s;
    z-index: 10;
    width: 20px;
    height: 20px;
}

.root:hover {
    border: 1px solid darkgray;
}

.root:hover:active {
    border: 1px solid black;
}