.popup {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
}

.popup.visible {
    pointer-events: all;
}

.elements {
    display: none;
    position: relative;
    z-index: 2000;
}

.elements.visible {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.elements:not(.parent) {
    height: 32px;
}

.elements.parent {
    position: absolute;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    user-select: none;
    z-index: 10;
}