.popup {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
}

.popup.visible {
    pointer-events: all;
}

.elements {
    display: none;
    position: relative;
    z-index: 2000;
}

.elements.visible {
    display: flex;
    border-bottom: 1px solid light-dark(lightgray, darkgray);
}

.elements:not(.parent) {
    height: 32px;
}

.elements.parent {
    position: absolute;
    flex-direction: column;
    border: 1px solid light-dark(lightgray, darkgray);
    border-radius: 6px;
    background-color: light-dark(white, black);
    box-shadow: 0 10px 16px 0 light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), 0 6px 20px 0 light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
    user-select: none;
    z-index: 10;
}