.root {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    height: 32px;
}

.root.fullscreen {
    display: none;
}

.separator {
    flex: 1;
}

.actions {
    display: flex;
}