.root {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    user-select: none;
    overflow: hidden;
    transition: background-color 0.2s;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: darkgray;
}

.root:hover {
    background-color: lightgray;
}

.root.focus {
    background-color: var(--accent-background);
    color: var(--accent-color);
}

.root:not(.disabled) {
    cursor: move;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

[dir="rtl"] .icon {
    padding-right: 0px;
    padding-left: 5px;
}

.label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}