.root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    border-width: 1px;
    border-style: solid;
    transition: all 0.25s ease-in-out, color 0.25s ease-in-out;
    overflow: hidden;
    user-select: none;
    text-decoration: none;



    &.primary {
        border-width: 2px;
    }

    &:focus-visible {
        outline: none;
    }

    &:hover {
        box-shadow: inset -1px -1px 4px light-dark(rgba(0, 0, 0, 0.4), rgba(1, 1, 1, 0.4));
    }

    &:active {
        box-shadow: inset 1px 1px 4px light-dark(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    }
}

.small {
    font-size: 0.8rem;
    padding: 0.4em 1em;
}

.medium {
    font-size: 0.9rem;
    padding: 0.6em 1.2em;
}

.large {
    font-size: 1rem;
    padding: 0.8em 1.5em;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.65;

    &:active {
        transform: none;
    }
}