.root {
    display: flex;
    margin: 6px;
}

.root.vertical {
    flex-direction: column;
}

.root.vertical>* {
    margin-bottom: 6px;
}

.root:not(.vertical)>* {
    margin-right: 6px;
}

.root.wrap {
    flex-wrap: wrap;
}

.root.flex {
    flex: 1;
}