.root {
    display: flex;
    align-items: stretch;
}

.root.flex {
    flex: 1;
}

.root:not(.vertical) {
    width: 100%;
}

.root.vertical {
    flex-direction: column;
}

.items {
    display: flex;
    align-items: stretch;
    flex: 1;
    position: relative;
}

.items.wrap {
    flex-wrap: wrap;
}

.items.vertical {
    flex-direction: column;
}

.items:not(.vertical) {
    margin-top: 4px;
    margin-left: 10px;
}

[dir="rtl"] .items:not(.vertical) {
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 10px;
}