.root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.root.border {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.root.vertical {
    flex-direction: column;
}

.tag {
    display: flex;
    align-items: center;
    padding: 6px;
    flex-shrink: 0;
}

.key {
    font-weight: bold;
    margin-right: 6px;
    color: gray;
}

.value {
    color: black;
}