.root {
    display: flex;
    flex-direction: column;
}

.root.border {
    border-radius: 6px;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.title {
    border-radius: 3px 3px 0px 0px;
    padding: 3px;
    font-weight: bold;
    background-color: lightgray;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags.vertical {
    flex-direction: column;
}

.tag {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 6px;
    flex-shrink: 0;
    flex-grow: 1;
}

.key {
    font-weight: bold;
    margin-right: 6px;
    color: gray;
}

.value {
    color: black;
}