.root {
    position: fixed;
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 3px;
    padding: 5px;
    user-select: none;
    z-index: 9999;
    pointer-events: none;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: opacity 0.2s;
}

.root.visible {
    opacity: 1;
}

.root::after {
    content: "";
    position: absolute;
    top: -35%;
    left: var(--arrow-left);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}