.root {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.root.hidden {
    display: none;
}

.root:not(.focus) {
    opacity: 0;
    pointer-events: none;
}

.button {
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 5px;
    transition: border 0.5s;
    width: 20px;
    height: 20px;
}

.button:hover {
    border: 1px solid darkgray;
}

.button:hover:active {
    border: 1px solid black;
}