.root {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    user-select: none;
    flex: 0;
    padding: 6px;
    border-radius: 3px;
    background-color: red;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
    box-shadow: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.root.border {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.root:hover {
    border: 1px solid rgba(0, 0, 0, 1);
}

.root:hover:active {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}