.root {
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding-left: 6px;
    padding-right: 6px;
    outline: 1px solid var(--accent-color);
    background-color: lightgray;
    border: 2px inset #fff;
    border-right-color: black;
    border-bottom-color: black;
    background: lightgray;
    color: black;
    user-select: none;
    border-radius: 6px;
    height: 38px;
    position: absolute;
    left: var(--left);
    top: var(--top);
    transform: var(--transform);
}

.root:not(.vertical) {
    min-width: 100px;
    max-width: 200px;
    margin-left: 3px;
    margin-right: 3px;
}

.root.vertical {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.root.minimize {
    outline: 1px solid transparent;
    border: 2px inset lightgray;
    border: 2px solid lightgray;
    color: black;
}

.root.focus {
    outline: 2px solid var(--accent-color);
    background-color: white;
}

.root.focus:active {
    border: 2px inset #fff;
    background: lightgray;
}

.root:not(.focus):active {
    border: 2px inset white;
    background: lightgray;
}

.root.moving {
    z-index: 1000;
    filter: invert(100%);
    opacity: 0.6;
}

.root.target {
    border: 2px solid black;
}


.root.big-icons {
    border: 2px solid transparent;
    background: none;
    flex-direction: column;
    height: 70px;
    width: 120px;
}

.root.big-icons.focus:active {
    filter: invert(100%);
    background: white;
    border: none;
}

.root.big-icons:active {
    filter: invert(100%);
    background: white;
    border: none;
}

.root.target.big-icons {
    border: 2px solid black;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.icon.big-icons {
    padding-top: 6px;
}

.label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

.label.big-icons {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}