.root {
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding-left: 6px;
    padding-right: 6px;
    background-color: light-dark(lightgray, darkgray);
    border: 2px inset light-dark(#fff, #000);
    border-right-color: light-dark(black, white);
    border-bottom-color: light-dark(black, white);
    background: light-dark(lightgray, darkgray);
    color: light-dark(black, white);
    user-select: none;
    border-radius: 6px;
    height: 38px;
    position: absolute;
    left: var(--left);
    top: var(--top);
    transform: var(--transform);
}

.root:not(.vertical) {
    min-width: 100px;
    max-width: 200px;
    margin-left: 3px;
    margin-right: 3px;
}

.root.vertical {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.root.minimize {
    outline: 1px solid transparent;
    border: 2px inset light-dark(lightgray, darkgray);
    border: 2px solid light-dark(lightgray, darkgray);
    color: black;
}

.root.focus {
    background-color: light-dark(white, black);
}

.root.focus:active {
    border: 2px inset light-dark(#fff, #000);
    background: light-dark(lightgray, darkgray);
}

.root:not(.focus):active {
    border: 2px inset light-dark(white, black);
    background: light-dark(lightgray, white);
}

.root.moving {
    z-index: 1000;
    filter: invert(100%);
    opacity: 0.6;
}

.root.target {
    border: 2px solid light-dark(black, white);
}


.root.big-icons {
    border: 2px solid transparent;
    background: none;
    flex-direction: column;
    height: 70px;
    width: 120px;
}

.root.big-icons.focus:active {
    filter: invert(100%);
    background: light-dark(white, black);
    border: none;
}

.root.big-icons:active {
    filter: invert(100%);
    background: light-dark(white, black);
    border: none;
}

.root.target.big-icons {
    border: 2px solid light-dark(black, white);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.icon.big-icons {
    padding-top: 6px;
}

.label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

.label.big-icons {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}